{% extends 'jobs/_base.html' %}

{% block content %}
    <h1 class="text-4xl font-bold mb-8">All Available Workers</h1>
    <div class="shadow">
        {% for worker in object_list %}
        <a href="{% url 'worker-detail' worker.pk %}">
        <div class="p-6 border flex items-center">
            <div>
                {% if worker.profile_pic %}
                <img class="w-20 border rounded-full mr-4" src="{{ worker.profile_pic.url }}" alt="Profile pic">
                {% endif %}
            </div>
            <div>
                <p class="text-lg font-semibold">
                    {{worker.name}}
                </p>
                {% if worker.verified %}
                <span>&#10004;</span>  <!-- Unicode checkmark -->
                {% else %}
                {% endif %}
                <p class="text-gray-700 pt-4">
                    {{worker.tagline}} 
                </p>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>

{% endblock content %}